.playlistCard {
  width: 300px;
  height: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #5200FF;
}

.playlistName {
  height: 70%;
  display: flex;
  font-size: 1.4rem;
  align-items: center;
  justify-content: center;
}

.btnEditar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  text-decoration: none;
  color: white;
  height: 30%;
  background: #3600A8;
}

.btnEditar:hover {
  background-color: #260079;
}