* {
  margin: 0;
  padding: 0;
}

.cardMusic {
  width: 200px;
  padding: 8px;
  border-radius: 10px;
  transition: ease-in 0.2s;
}

.cardMusic:hover {
  background: #292929;
}

.cardMusic img {
  max-width: 200px;
  border-radius: 10px;
}

.containerTexts {
  max-width: 215px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.containerTexts a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
}

.containerTexts a:hover {
  img {
    transform: scale(1.05);
  }
}

h1 {
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 1.1rem;
}

h2 {
  color: #ffffff2e;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 1.1rem;
}