.artistInfo {
  height: 600px;
  position: relative;
  display: flex;
  gap: 50px;
  align-items: center;
  padding: 0px 10%;
}

.bannerImage {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 600px;
  z-index: -1;
  opacity: 0.2;
}

.artistInfo .avatarArtist {
  border: 3px solid #5200FF;
  box-shadow: 0px 0px 8px -1px rgba(204, 204, 204, 0.25);
}

.textsArtist {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.artistInfo h1 {
  font-size: 5rem;
  color: #CECECE;
  line-height: 5rem;
}

.verificadoArtista {
  display: flex;
  align-items: center;
  margin: 0;
  gap: 10px;
}

.verificadoArtista h2 {
  color: #707070;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: normal;
}

.textsArtist h5 {
  color: #CECECE;
  text-align: justify;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* ---------------- Discografia e musicas ---------------- */

.tracksList {
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
}

.h1Home {
  display: flex;
  position: absolute;
  top: -50px;
  align-items: center;
  gap: 5px;
  padding: 0px 10%;
}

.tableTracks {
  width: 100%;
  border-collapse: collapse;
  border: 0;
}

.tableTracks thead {
  width: 100%;
  height: 75px;
  th:first-child {
    padding-left: 10%;
  }
}

.tableTracks tbody {
  width: 100%;

  td:first-child {
    padding-left: 10%;
  }
}

.tableTracks td, th {
  width: 250px;
}

.tracksList tr {
  transition: ease-in 0.2s;
}

.tableTracks tr:hover {
  cursor: pointer;
  background: #181818;
}

.tableTracks th {
  border-bottom: 1px solid #6634F2;
  color: #707070;
  text-align: start;
  font-size: 18px;
  height: 75px;
  background: #1E1E1E;
}

.tableTracks td {
  padding-top: 10px;
  padding-bottom: 10px;
  vertical-align: middle;
  color: #CECECE;
  font-size: 15px;
  font-weight: 600;
}

.imgMusic {
  display: flex;
  align-items: center;
  gap: 10px;
}

.tableTracks td:first-child img {
  width: 50px;
}

/* ---------------- outros artistas ---------------- */

.secMusic {
  margin: auto;
  margin-top: 100px;
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 80%;
}

.h1Artistas {
  display: flex;
  font-size: 1.5rem;
  align-items: center;
  gap: 8px;
}

.containerCards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}