.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background: linear-gradient(90deg, #5200FF 38%, #1F0173 100%);

    max-width: 100%;
    height: 100px;
    padding: 0 10%;
}

/*----------- Links da Nav -----------*/

.linksMenuHeader {
    display: flex;
    align-items: center;
    gap: 30px;
}

.linksMenuHeader a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
    transition: ease-in-out 0.1s;
}

.linksMenuHeader a:hover {
    color: #b898fb;
}

/*----------- div de pesquisa -----------*/

.divActions {
    display: flex;
    gap: 30px;
}

.divSearch {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 300px;
    min-width: 150px;
    height: 40px;
    padding: 0 8px;

    border: 2px solid #D2D2D2;
    background: #FFF;
}

.divSearch:hover {
    border: 2px solid #7c7c7c;
    box-shadow: 0px 0px 14px -1px #cccccc40;
}

.divActions a {
    text-decoration: none;
    padding: 8px 25px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    background-color: #5200FF;
    font-size: 1.2rem;
}

.divActions a:hover {
    outline: 2px solid #5200FF;
    background-color: #260079;
    box-shadow: 0px 0px 8px -1px #cccccc40;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    background-color: black;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 5px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #616161;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #3b3b3b;
  }