/* ---------------- Discografia e musicas ---------------- */

.MusicList {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
}

.MusicGrid {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  gap: 40px;
  width: 80%;
  padding: 0px 10%;
}

.h1Home {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  gap: 5px;
  padding: 0px 10%;
}