.bannerHome {
    position: relative;
    width: 100%;
    height: 450px;
    margin: auto;
    
    background: linear-gradient(0deg, rgb(14, 14, 14) 12%, rgba(21,21,21,0.8295693277310925) 27%, rgba(32,32,32,0) 100%), url("https://lumina-sound.s3.sa-east-1.amazonaws.com/images/artists/Danger/bannerDanger.jpg") lightgray no-repeat;
    background-position: center;
    background-size: cover;

    margin-bottom: 70px;
}

.infosBanner {
    position: absolute;
    display: flex;
    margin-right: 10%;
    align-items: center;
    gap: 20px;
    bottom: 20px;
    right: 20px;
}

.infosBanner div h3,h2 {
    margin: 0;
}

.infosBanner div {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: -5px;
}

.infosBanner h2 {
    color: white;
    font-size: 28px;
}

.infosBanner h3 {
    color: #ffffff5c;
    font-size: 18px;
}

.infosBanner a {
    text-decoration: none;
    color: white;
    border-radius: 12px;
    background: #5200FF;
    font-weight: bold;
    font-size: 25px;
    padding: 12px 40px;
    margin: 0;

    transition: ease-in 0.1s;
}

.infosBanner a:hover {
    background-color: #3700ad;
}