.rhap_container {
    background-color: #1E1E1E;
}

.rhap_time {
    color: #FFFFFF;
    font-weight: 800;
}

.rhap_progress-bar {
    .rhap_progress-indicator {
        background: #5200FF;
    }
}

.rhap_volume-indicator {
    opacity: 1;
    background: #5200FF;
}
