.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 8px -1px #cccccc40;

    background: #1E1E1E;
    border-top: 1px solid #6634F2;

    max-width: 100%;
    height: 180px;
    padding: 0 10%;
}

.footer a img {
    width: 120px;
}

/*----------- Links da Nav -----------*/

.linksMenuHeader {
    display: flex;
    align-items: center;
    gap: 30px;
}

.linksMenuHeader a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    transition: ease-in-out 0.1s;
}

.linksMenuHeader a:hover {
    color: #b898fb;
}

/*----------- div de pesquisa -----------*/

.divActions {
    display: flex;
    gap: 30px;
}

.divSearch {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 300px;
    min-width: 150px;
    height: 40px;
    padding: 0 8px;

    border: 2px solid #D2D2D2;
    background: #FFF;
}

.divSearch:hover {
    border: 2px solid #7c7c7c;
}

.divActions a {
    text-decoration: none;
    padding: 8px 25px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    background-color: #5200FF;
    font-size: 1.2rem;
}

.divActions a:hover {
    outline: 2px solid #5200FF;
    background-color: #260079;
    box-shadow: 0px 0px 8px -1px #cccccc40;
}